
/* auto-slider-css */

.auto-slider {
	display: flex;
	overflow: hidden;
	width: 100%;
	background: #ffffff;
	margin: 100px 0;
}

.auto-slider__1, .auto-slider__2{
	display: inline-flex;
	flex: none;
	animation: auto-slider 30s 0s linear infinite;
}

.auto-slider:hover div {
	animation-play-state: paused!important;
}

.auto-slider__1 div , .auto-slider__2 div {
	flex: none;
	padding: 30px 0;
}

.auto-slider__1 div:hover , .auto-slider__2 div:hover {
	transform: translateY(-10px);
}

@keyframes auto-slider {
	0% {
	transform: translateX(0);
	}
	100% {
	transform: translateX(-100%);
	}
}

.auto-slider__img{
    width: 120px;
    height: auto;
  }
